body {
  background-color: #008000;
  color: #03d;
  font-family: Arial;
  padding: 20px;
  text-align:center;
}

header {
    padding: #30px;
  text-align: center;
  font-size: 30px;
}

h2 {
  color: #a9a9a9;
  text-align: center;
}

p {
  color: #d12;
  font-size: 22px;
  text-align: center;
}

footer{
  color: #ffd700;
  font-size: 18px;
  text-align: center;
}